bottleneck
brotli
gmpy2
imagecodecs
importlib-metadata
importlib-resources
jaraco.text
jupyter
matplotlib
mkl-fft
mkl-random
mkl-service
numexpr
ordered-set
pandas
pillow
pip-chill
pyqt5
pysnic
pysocks
ruff
scikit-image
sip
tomli
torchmetrics
torchvision
transformers
unicodedata2
wandb
